.infobox {
    background-color: var(--md-default-bg-color--light);
    display: block;
    margin: 5px;
    width: 370px !important;
    border-radius: .1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px 0px;
}

.infobox h3 {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    padding: 5px;
    margin: 0 0 1em 0;
}

.infobox.right {
    float: right;
    margin-left: 1em;
}

.infobox.left {
    float: left;
    margin-right: 1em;
}

.infobox figcaption {
    font-size: 0.75em;
    margin: 0;
    padding: 1em;
}

.infobox img {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.54);
}

/*******************************************************************************
 *
 * STATS BLOCK
 *
 ******************************************************************************/

.stats {
    margin: 0 !important;
    margin-top: 1em !important;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    border-top: 10px solid #E69A28;
    padding: 0.2em 0.5em;
    background: #FDF1DC;
}

.stats ~ p.stat, .stats ~p.ability {
    color: black;
    margin: 0;
    padding: 0.2em 0.5em;
    background: #FDF1DC;
}

.stats ~p.alignment {
    border-bottom: 2px solid #922610;
}

.stats ~p.ability > strong {
    color: black;
    font-style: italic;
}

.stats ~ p.stat > strong {
    color: #922610;
}

.actions {
    margin: 0 !important;
    color: #922610;
    border-top: 2px solid #922610;
    padding: 0.5em;
    background: #FDF1DC;
}

.actions ~ p.action {
    color: black;
    margin: 0;
    padding: 0.5em;
    background: #FDF1DC;
}

.actions ~p.action strong {
    color: black;
    font-style: italic;
}

/********* SCORE TABLE *********/

.stats ~ p.stat + .md-typeset__scrollwrap {
    margin: 0;
}

.stats ~ p.stat + .md-typeset__scrollwrap > .md-typeset__table {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.stats ~ p.stat + .md-typeset__scrollwrap > .md-typeset__table > table {
    border-top: 2px solid #922610;
    font-size: 1em;
    text-align: center;
    color: #922610;
    width: 100% !important;
    display: table;
    table-layout: fixed;
    background: #FDF1DC;
}
